<configuration>
  <connectionStrings>
    <add name="PaymentContentDB" connectionString="Server=your_server_name;Database=PaymentContentDB;User Id=your_username;Password=your_password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="Logs/app.log" />
    <add key="MaxLogSize" value="1048576" /> <!-- 1 MB -->
  </appSettings>
</configuration>